<article class="blogPosts" id="{{blogTitle}}">
  <h2 class="blog-title">{{this.blogTitle}}</h2>
  <a href="{{{authorUrl}}}">by {{{this.author}}}</a>
  <section>A post about {{this.category}}  that is  {{this.daysSincePost}}  days old</section>
  <section class="blogBody">{{{this.blogBody}}}</section>
  <button class="readOn" type="click">Read More</button>
  <section class="searchProps">{{{this.author}}} {{{this.category}}}</section>
</article>
