<article class="blogPosts" id="{{blogTitle}}">
  <h2 class="blog-title">{{this.blogTitle}}</h2>
  <a href="{{{authorUrl}}}">by {{{this.author}}}</a>
  <section>A post about {{this.category}}  that  {{this.daysSincePost}}</section>
  <section class="blog-body">{{{this.markdown}}}</section>
  <button class="readOn" type="click">Read More</button>
  <section class="searchProps">{{{this.author}}} {{{this.category}}}</section>
</article>
